[general]
label: MC
output_dir: /home/fmeier/storage03/b02dd/run/MCComparison
separate_dirs: True

[input.data1]
file: /fhgfs/groups/e5/lhcb/NTuples/B02DD/MC/Sim08/2012/MC_Sim08a_2012_Pythia8_B02DD_Stripping20_DVv36r1_MagDown_20150325_fmeier_20160121_TupleAPlus_FT.root
tree: B02DD
weight_branch: 
cut: catBkg==0&&catDDFinalState==11&&idxPV==0
colour: 1
legend: Sim08


[input.data2]
file: /fhgfs/groups/e5/lhcb/NTuples/B02DD/MC/Sim09/2012/MC_Sim09Dev02_2012_Pythia8_B02DD_CPV_Stripping21_DVv36r7_MagDown_20160114_fmeier_TupleAPlus_FT.root
tree: B02DD
weight_branch: 
cut: catBkg==0&&catDDFinalState==11&&idxPV==0
colour: 4
legend: Sim09

[plot.nPV]
branch.data1: catNPV
branch.data2: catNPV
cut.data1:
cut.data2:
binning.data1: 10
binning.data2: 10
x_range_min: 0
x_range_max: 10
x_axis_unit: 
x_axis_title: # PVs
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.PVx]
branch.data1: PVX
branch.data2: PVX
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0.5
x_range_max: 0.75
x_axis_unit: mm
x_axis_title: x_{PV}
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.PVy]
branch.data1: PVY
branch.data2: PVY
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 0.2
x_axis_unit: mm
x_axis_title: y_{PV}
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.PVz]
branch.data1: PVZ
branch.data2: PVZ
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: -100
x_range_max: 150
x_axis_unit: mm
x_axis_title: z_{PV}
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.VeloMutiplicity]
branch.data1: nVeloClusters
branch.data2: nVeloClusters
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 5000
x_axis_unit: 
x_axis_title: # VELO cluster
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.ITMutiplicity]
branch.data1: nITClusters
branch.data2: nITClusters
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 1500
x_axis_unit: 
x_axis_title: # IT cluster
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.OTMutiplicity]
branch.data1: nOTClusters
branch.data2: nOTClusters
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 10000
x_axis_unit: 
x_axis_title: # OT cluster
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.SPDMutiplicity]
branch.data1: nSPDHits
branch.data2: nSPDHits
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 600
x_axis_unit: 
x_axis_title: # SPD hits
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.nTrack]
branch.data1: catNTrack
branch.data2: catNTrack
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 500
x_axis_unit: 
x_axis_title: # tracks
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.KaonTrackFitChi2]
branch.data1: varKaonMaxTrackFitChi2ndof
branch.data2: varKaonMaxTrackFitChi2ndof
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 3
x_axis_unit: 
x_axis_title: K track fit #it{#Chi^{2}}/ndf
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.PionTrackFitChi2]
branch.data1: varPionMaxTrackFitChi2ndof
branch.data2: varPionMaxTrackFitChi2ndof
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 3
x_axis_unit: 
x_axis_title: #pi track fit #it{#Chi^{2}}/ndf
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.P]
branch.data1: obsMomentum
branch.data2: obsMomentum
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 900000
x_axis_unit: MeV/c
x_axis_title: #it{p}(B^{0})
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.PT]
branch.data1: obsTransverseMomentum
branch.data2: obsTransverseMomentum
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 50000
x_axis_unit: MeV/c
x_axis_title: #it{p}_{T}(B^{0})
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.Pseudorapidity]
branch.data1: varPseudorapidity
branch.data2: varPseudorapidity
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 2
x_range_max: 5
x_axis_unit: 
x_axis_title: #it{#eta}
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.IPChi2]
branch.data1: varIPChi2_log
branch.data2: varIPChi2_log
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: -6
x_range_max: 4
x_axis_unit: 
x_axis_title: log(IP#Chi^{2})
y_range_min: 0
y_range_max_scale: 1.5
normalise: true
y_axis_log: false

[plot.KaonGhostProb]
branch.data1: varKaonMaxTrackGhostProb
branch.data2: varKaonMaxTrackGhostProb
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 0.3
x_axis_unit: 
x_axis_title: K ghost prob
y_range_min: 0.01
y_range_max_scale: 1.5
normalise: true
y_axis_log: true

[plot.PionGhostProb]
branch.data1: varPionMaxTrackGhostProb
branch.data2: varPionMaxTrackGhostProb
cut.data1:
cut.data2:
binning.data1: 100
binning.data2: 100
x_range_min: 0
x_range_max: 0.3
x_axis_unit: 
x_axis_title: #pi ghost prob
y_range_min: 0.01
y_range_max_scale: 1.5
normalise: true
y_axis_log: true

# [plot.DTFChi2]
# branch.data1: varDTFChi2ndof_log
# branch.data2: varDTFChi2ndof_log
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: -2
# x_range_max: 2
# x_axis_unit: 
# x_axis_title: log(DTF#Chi^{2}/ndf)
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.PVVtxChi2ndof]
# branch.data1: varPVVtxChi2ndof
# branch.data2: varPVVtxChi2ndof
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: 0.2
# x_range_max: 0.5
# x_axis_unit: 
# x_axis_title: PV #Chi^{2}/ndf
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.SVVtxChi2ndof]
# branch.data1: varBEndVtxChi2ndof
# branch.data2: varBEndVtxChi2ndof
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: 0
# x_range_max: 10
# x_axis_unit: 
# x_axis_title: SV #Chi^{2}/ndf
# y_range_min: 0.001
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: true
# 
# [plot.EtaOS]
# branch.data1: obsEtaOS_StdComb
# branch.data2: obsEtaOS_StdComb
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: 0
# x_range_max: 0.5
# x_axis_unit: 
# x_axis_title: #eta_{OS}
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.EtaSS]
# branch.data1: obsEtaSS
# branch.data2: obsEtaSS
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: 0
# x_range_max: 0.5
# x_axis_unit: 
# x_axis_title: #eta_{SS}
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.SVResolution_x]
# branch.data1: B0_ENDVERTEX_X-B0_TRUEENDVERTEX_X
# branch.data2: B0_ENDVERTEX_X-B0_TRUEENDVERTEX_X
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: -0.1
# x_range_max: 0.1
# x_axis_unit: mm
# x_axis_title: #sigma_{x}(SV)
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.SVResolution_y]
# branch.data1: B0_ENDVERTEX_Y-B0_TRUEENDVERTEX_Y
# branch.data2: B0_ENDVERTEX_Y-B0_TRUEENDVERTEX_Y
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: -0.1
# x_range_max: 0.1
# x_axis_unit: mm
# x_axis_title: #sigma_{y}(SV)
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false
# 
# [plot.SVResolution_z]
# branch.data1: B0_ENDVERTEX_Z-B0_TRUEENDVERTEX_Z
# branch.data2: B0_ENDVERTEX_Z-B0_TRUEENDVERTEX_Z
# cut.data1:
# cut.data2:
# binning.data1: 100
# binning.data2: 100
# x_range_min: -1
# x_range_max: 1
# x_axis_unit: mm
# x_axis_title: #sigma_{z}(SV)
# y_range_min: 0
# y_range_max_scale: 1.5
# normalise: true
# y_axis_log: false