cuts
{
  obsMass>5500
  ; catDDFinalStateParticles>=0
  catDDFinalState==11
  ((catDDFinalState==11&&!(abs(varDminusMassHypo_KpiK-1968.3)<25&&varPiTwominus_PID>0.5))||catDDFinalState!=11)
  ((catDDFinalState==11&&!(abs(varDplusMassHypo_KpiK-1968.3)<25&&varPiTwoplus_PID>0.5))||catDDFinalState!=11)
  ((catDDFinalState==11&&!(abs(varDminusMassHypo_Kpip-2286.46)<25&&varPiTwominus_PIDp>0.5))||catDDFinalState!=11)
  ((catDDFinalState==11&&!(abs(varDplusMassHypo_Kpip-2286.46)<25&&varPiTwoplus_PIDp>0.5))||catDDFinalState!=11)
  ((catDDFinalState==11&&abs(varPhiMassHypo_DminusTwo-1019.461)>10)||catDDFinalState!=11)
  ((catDDFinalState==11&&abs(varPhiMassHypo_DplusTwo-1019.461)>10)||catDDFinalState!=11)
  ((catDDFinalState==13&&abs(varPhiMassHypo_DplusTwo-1019.461)>10)||catDDFinalState!=13)
  ((catDDFinalState==14&&abs(varPhiMassHypo_DplusTwo-1019.461)>10)||catDDFinalState!=14)
  ((catDDFinalState==31&&abs(varPhiMassHypo_DminusTwo-1019.461)>10)||catDDFinalState!=31)
  ((catDDFinalState==41&&abs(varPhiMassHypo_DminusTwo-1019.461)>10)||catDDFinalState!=41)
}